# Binary files
__pycache__/

# Virtual environment
test-env

# Unnecessary files
vault/
#.testing.txt
.env/

# Postgres files
pgsql_conf/
!pgsql_conf/data/postgresql.conf
!pgsql_conf/data/pg_hba.conf
