{% extends 'layout.html.j2' %}
{% block javascript %}
<script>
  let fullUserList = {{ userList }};
</script>
<script src="{{ url_for('static', filename='js/user_search.js') }}"></script>
{% endblock %}
{% block content %}

<!--<p id="users">{{ userList }}</p>-->

<div id="searchBar">
  <label for="user_search_label">Username</label>
  <input id="user_searchbar" name="user_search">
  <button id="search" onclick="userSearch()">Search</button>
</div>

<br>

<table id="userTable">
<tr id="tableHeaders">
<th id="userid_header" class="userids">UserID</th>
<th id="username_header" class="usernames">Username</th>
</tr>
{% for user in userList %}
  <tr id="row_{{ loop.index }}" class="tableRows">
    <td id="userid_{{ loop.index }}" class="userids">{{ user[0] }}</td>
    <td id="username_{{ loop.index }}" class="usernames">{{ user[1] }}</td>
  </tr>
  <!--<p class="user"><span class="userID">{{ user[0] }}</span><span class="username">{{ user[1] }}</span></p>-->
{% endfor %}
</table>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"></link>
{% endblock %}
