{% extends 'layout.html.j2' %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% block content %}
  <div id="conversation_history">
    <!--Messages will be placed into here-->
  </div>
  <div id="sendBar">
    <!--<input type="text" id="msgContents" placeholder="Enter a message">-->
    <textarea id="msgContents" placeholder="Enter a message..."></textarea>
    <button id="send" onclick="sendMsg2()">Send</button>
  </div>
  <p id="error_msg"></p>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></link>
{% endblock %}
