#topBar {
  font-family: sans-serif;
  height: 50px;
  text-align: center;
}

#logout_button {
  width: 120px;
  height: 25px;
  text-decoration: none;
  color: #f9fafa;
  background-color: #af2147;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
}

#header_text {
  width: 120px;
  height: 35px;
  background-color: #147aaf;
  color: #f9fafa;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;  
}

#bottomBar {

}
