#conversation_history {
  border: 1px solid #000000;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.msg {
  border-bottom: 1px solid #000000;
}

#msgContents {
  width: 93%;
  overflow-y: scroll;
}
